doPlotting: true
nParallelJobsPerVar: 20
doIsoGamma: true
doJets: true
doGGPi0: true
domPi0: true
doAnalysisExclGammaJet: true
doPlottingExclGammaJet: true
doCombineExclGammaJet: true

DummyDataSet:
  isMC: true
  label: "#gamma-Jet 18 DCal"
  trainconfigs:
    DummyTrainConfig: Standard
LHC18_pass2:
  isMC: false
  path: /alf/data/calorimetrees/GA_pp_AOD/2749_20240701-1424_13TeV_LHC18pass2
  label: "Run2"
  trainconfigs:
    102_Charged: Standard
    102_Full: Standard
GJ18D:
  isMC: true
  path: /alf/data/calorimetrees/GA_pp_MC_AOD/6038_20240523-1434_13TeV_GJDCal18
  label: "Run2"
  trainconfigs:
    100_Charged: full
    101_Charged: full
    102_Charged: full
LHC18_pass2:
  path: /alf/data/calorimetrees/GA_pp_AOD/2709_20240530-1618_13TeV_LHC18pass2
  isMC: false
  label: LHC18[b-p]
  trainconfigs:
    100_Charged: full
    101_Charged: full
    102_Charged: full
JJ18D:
  isMC: true
  path: /alf/data/calorimetrees/GA_pp_MC_AOD/6039_20240527-1821_13TeV_JJDCal18
  label: "Run2"
  trainconfigs:
    100_Charged: full
    101_Charged: full
    102_Charged: full
MergedGJ18DandJJ18D:
  isMC: true
  path1: GJ18D/101_Charged/IsoOnly, JJ18D/101_Charged/IsoOnly
  label: GJ18D, JJ18D
  TrainConfig1: 101_Charged
  TrainConfig2: 101_Charged
LHC23_PbPb_pass4_calo:
  isMC: false
  path: /alf/data/calorimetrees/JE_PbPb_AO2D/0000014_LHC23_PbPb_pass4_calo/sorted
  label: "Run3"
  trainconfigs:
    Run3-0-10: Standard,JetRadius_R02,JetRadius_R03,JetRadius_R05,JetRadius_R06
    Run3-10-30: Standard,JetRadius_R02,JetRadius_R03,JetRadius_R05,JetRadius_R06
    Run3-30-50: Standard,JetRadius_R02,JetRadius_R03,JetRadius_R05,JetRadius_R06
    Run3-50-90: Standard,JetRadius_R02,JetRadius_R03,JetRadius_R05,JetRadius_R06
    Run3-0-90: Standard,JetRadius_R02,JetRadius_R03,JetRadius_R05,JetRadius_R06
LHC23_PbPb_pass4_IsoR02_calo:
  isMC: false
  path: /alf/data/calorimetrees/JE_PbPb_AO2D/0000015_LHC23_PbPb_pass4_calo_IsoR02/sorted
  label: "Run3"
  trainconfigs:
    Run3-0-10: Standard,JetRadius_R02,JetRadius_R03,JetRadius_R05,JetRadius_R06
    Run3-10-30: Standard,JetRadius_R02,JetRadius_R03,JetRadius_R05,JetRadius_R06
    Run3-30-50: Standard,JetRadius_R02,JetRadius_R03,JetRadius_R05,JetRadius_R06
    Run3-50-90: Standard,JetRadius_R02,JetRadius_R03,JetRadius_R05,JetRadius_R06
    Run3-0-90: Standard,JetRadius_R02,JetRadius_R03,JetRadius_R05,JetRadius_R06
LHC24ar_PbPb_pass4_IsoR02_calo:
  isMC: false
  path: /alf/data/calorimetrees/JE_PbPb_AO2D/0000016_LHC24ar_PbPb_pass4_calo_IsoR02/sorted
  label: "Run3"
  trainconfigs:
    Run3-0-10: Standard,JetRadius_R02,JetRadius_R03,JetRadius_R05,JetRadius_R06
    Run3-10-30: Standard,JetRadius_R02,JetRadius_R03,JetRadius_R05,JetRadius_R06
    Run3-30-50: Standard,JetRadius_R02,JetRadius_R03,JetRadius_R05,JetRadius_R06
    Run3-50-90: Standard,JetRadius_R02,JetRadius_R03,JetRadius_R05,JetRadius_R06
    Run3-0-90: Standard,JetRadius_R02,JetRadius_R03,JetRadius_R05,JetRadius_R06
LHC25ae_OO_cpass0_calo_IsoR02:
  isMC: false
  path: /alf/data/calorimetrees/JE_OO_AO2D/451418_LHC25ae_OO_cpass0_calo_IsoR02/sorted
  label: "Run3"
  trainconfigs:
    Run3-0-100: Standard
LHC24aq_pp_pass1_calo_IsoR02:
  isMC: false
  path: /alf/data/calorimetrees/JE_pp_AO2D/395609_LHC24aq_PbPb_pass1_calo_IsoR02_MergedTest/converted
  label: "Run3"
  trainconfigs:
    Run3: Standard,JetRadius_R02,JetRadius_R03,JetRadius_R05,JetRadius_R06
